{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td>{{ grandtotal | usd}}</td>
                </tr>
            </tfoot>
            <tbody>

                    {% for i in query %}
                        {% if i["quantity"] > 0 %}
                        <tr>
                            <td>{{ i["symbol"].upper() }}</td>
                            <td>{{ i["name"] }}</td>
                            <td>{{ i["quantity"] }}</td>
                            <td>{{ currentPrice[i["symbol"]] | usd }}</td>
                            <td>{{ total[i["symbol"]] | usd }}</td>
                        </tr>
                        {% endif %}
                    {%endfor%}

                    <tr>
                        <td colspan="3"></td>
                        <td>CASH</td>
                        <td>{{ cash | usd }}</td>
                    </tr>

            </tbody>
        </table>
    </div>

{% endblock %}