{% extends "layout.html" %}

{% block title %}
    Get Quote
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock Symbol</th>
                    <th>Share Price</th>
                </tr>
            </thead>
            <tr>
                <td>{{ stock_name }}</td>
                <td>{{ stock_symbol }}</td>
                <td>{{ stock_price | usd }}</td>
            </tr>
        </table>
    </div>
{% endblock %}